:root {
  --bg-color: #ffffff;
  --text-color: rgba(33, 53, 71, 1);
  --border-color: #d5d5d5;
  --button-text-color: #8d8d8d;
  --highlight-color: #42d392;
  --secondary-bg-color: #eeeeee;
  --button-linear: #f1f1f1;
  --button-hover-main: #d5d5d5;
  --header-buttons: #213547;
}

.dark-theme {
  --bg-color: #1A1A1A;
  --text-color: #e0e0e0;
  --border-color: #333;
  --button-text-color: #aac8e4;
  --button-linear: #2f2f2f;
  --highlight-color: #4caf50;
  --secondary-bg-color: #242424;
  --button-hover-main: #2F2F2F;
  --header-buttons: #FFFFFF;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(33, 53, 71, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.header {
  padding: 10px 32px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.header-left {
  display: flex;
  justify-content: flex-start;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 24px;
  margin-right: 10px;
}

.search-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: #8d8d8d;
  transition: color 0.3s ease-in-out;
}

.search-button img {
  width: 15px;
  margin-right: 10px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.search-btn-shortcut {
  display: flex;
  margin-left: 10px;
  color: #8d8d8d;
  padding: 2px 6px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  white-space: nowrap;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.search-button:hover {
  color: var(--header-buttons);
}

.search-button:hover img {
  opacity: 1;
}

.search-button:hover .search-btn-shortcut {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  padding: 0 10px;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-menu li {
  margin-right: 10px;
  font-size: 13px;
  color: var(--header-buttons);
  font-weight: 400;
  display: flex;
  align-items: center;
}

.nav-menu a {
  color: var(--header-buttons);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-icon {
  width: 14px;
  padding-left: 4px;
}

.dark-theme .nav-icon {
  filter: invert(69%) sepia(6%) saturate(9%) hue-rotate(83deg) brightness(96%) contrast(94%);
}

.nav-menu a:hover {
  color: var(--highlight-color);
}

.header-translation-btn {
  background: none;
  border: none;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  margin: 0 8px;
  padding: 0 10px;
}

.dark-theme .header-translation-btn img {
  content: url(../public/assets/icons/translation-dark-theme.svg);
}

.new-p {
  background-color: rgba(59, 142, 237, 1);
  color: white;
  padding: 1px 2px;
  border-radius: 6px;
  font-size: 10px;
  margin-left: 6px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-left: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e2e2;
  border-radius: 34px;
  transition: background-color 0.3s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  background-image: url(../public/assets/icons/header-heart.svg);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.dark-theme .slider:before {
  background-color: black;
  background-image: url(../public/assets/icons/moon-dark-theme.svg);
  background-size: 60%;
}

input:checked+.slider {
  background-color: rgba(44, 44, 44, 1);
}

input:checked+.slider:before {
  transform: translateX(18px);
}

.header-btns {
  width: 20px;
  padding: 5px;
  margin-left: 10px;
  background: none;
  border: none;
  opacity: 0.7;
}

.header-btns img {
  width: 20px;
  height: 20px;
}

.header-btns:hover {
  opacity: 1;
}

.menu-dots-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin: auto 0;
  background: none;
  border: none;
}

@media (max-width: 1278px) {

  .switch,
  .buttons {
    display: none;
  }

  .menu-dots-btn {
    display: flex;
    padding: 0 12px;
  }
}

@media (max-width: 983px) {
  .search-text {
    display: none;
  }
}

@media (max-width: 900px) {
  .search-btn-shortcut {
    display: none;
  }
}

p {
  color: rgba(118, 118, 118, 1);
}

h1 {
  font-size: clamp(36px, 4vw + 24px, 76px);
  line-height: 1.1;
  font-weight: 900;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

.dark-theme h1 {
  background: linear-gradient(315deg, #42d392 25%, #647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 15px;
}

.hero {
  padding: 96px 32px;
}

.hero-text {
  margin: 20px auto 40px;
  font-size: clamp(16px, 2vw, 22px);
  max-width: 960px;
  word-break: normal;
  text-align: center;
}

.hero-buttons {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-right: 18px;
  color: var(--button-text-color);
  white-space: nowrap;
  background-color: var(--secondary-bg-color);
}

.btn:last-child {
  margin-right: 0;
}

.btn-green {
  background-color: #42B883;
  color: white;
}

.btn-green:hover {
  background-color: #2d8867;
}

.dark-theme .btn-green {
  color: #213547;
}

.dark-theme .btn-green img {
  content: url(../public/assets/icons/why-vue-dark-theme.svg);
}

.btn-gradient {
  background: linear-gradient(var(--button-linear), var(--button-linear)) padding-box,
    linear-gradient(45deg, #42d392, #647eff) border-box;
  border: 2px solid transparent;
}

.btn-icon-arrow {
  width: 12px;
}

.btn-icon-right img {
  transition: transform 0.3s ease;
}

.btn-icon-right:hover img {
  transform: translateX(2px);
}

.btn-icon-link {
  width: 12px;
}

.btn:not(.btn-green):hover {
  background-color: var(--button-hover-main);
}

.hero {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight {
  background: linear-gradient(315deg, #42d392 25%, #647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.special-sponsor {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 168px;
  height: 42px;
  margin: 0 10px;
}

.dark-theme .image-container {
  filter: grayscale(1) invert(1);
}

.text {
  color: #adadad;
  font-size: 13px;
  font-weight: 600;
}

.char-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  width: 90%;
  padding: 42px 32px;
  max-width: 960px;
}

.char-p {
  margin: 0;
}

.char-item {
  padding: 28px 36px;
}

.table-container {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
  padding: 42px 32px;
}

.table-cell {
  background-color: rgba(228, 228, 228, 0.226);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  height: 115px;
}

.dark-theme .table-cell {
  background-color: rgb(186, 186, 186);
  filter: grayscale(1) invert(1);
}

.dark-theme .table-cell:hover {
  filter: none;
}

.table-cell a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.table-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  margin-bottom: 48px;
}

.table-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  margin-bottom: 48px;
}

.table-cell:last-child a {
  color: gray;
  font-size: 12px;
  font-weight: 400;
}

.map {
  width: 100%;
  background: var(--secondary-bg-color);
}

.map-links {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 24px 32px;
  height: 500px;
}

.category {
  min-width: 250px;
}

.category h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 10px 0;
}

.category ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.category a {
  text-decoration: none;
  color: #8f8f8f;
  font-weight: 400;
  font-size: 14px;
}

.footer-content {
  background-color: var(--bg-color);
  padding: 24px;
  font-size: 12px;
  color: #333;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #333;
}

footer a:hover {
  color: rgb(91, 91, 91);
}

.menu-toggle-button {
  display: none;
  background: none;
  border: none;
}

@media (max-width: 768px) {
  .char-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .table-1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .table-2 {
    grid-template-columns: repeat(3, 1fr);
  }

  .map-links {
    height: 100%;
    flex-direction: row;
  }

  .navigation,
  .search-button {
    display: none;
  }

  .menu-toggle-button {
    display: flex;
  }
}

@media (max-width: 811px) {
  .btn:nth-child(4) {
    margin-top: 18px;
  }
}

@media (max-width: 578px) {

  .btn:nth-child(1),
  .btn:nth-child(2),
  .btn:nth-child(3) {
    margin: 18px 18px 0 0;
  }

  .special-sponsor {
    flex-direction: column;
  }

  .table-1 {
    grid-template-columns: 1fr;
  }

  .table-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}